

.container {
    box-sizing: border-box;

/* position: absolute; */
width: 646px;
height: 650.14px;
left: 302px;
top: 272px;

background: #FFFFFF;
/* NestMart-BorderColor-1 */

border: 1px solid #E5E5E5;
border-radius: 15px;
}

.cardorange{
    /* position: absolute; */
width: 106.37px;
height: 84.79px;
left: 5.75px;
top: 16.87px;
margin-top: 12rem;
}


.strawberry{
    position: absolute;
width: 95.86px;
height: 85.04px;
left: 295.81px;
top: 16.07px;
margin-top: 40rem;

}

.lemmon{
    position: absolute;
    width: 99px;
    height: 70px;
    left: 438.13px;
    top: 23.76px;
    margin-top: 39rem;
    justify-content: space-around;
    
    
}