.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #e1e1e6, #ffffff), linear-gradient(to left, #000, #fff);  color: #fff;
    padding: 20px;
    color: #000000;
     }
  
  .brand {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .search {
    display: flex;
    align-items: center;
    
  }
  .searchbox{
    width: 20rem;
    font-size: 1rem;
    outline:none;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .btnsearch{
    padding: 10px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .navbarNav {
    display: flex;
    list-style: none;
  
  }
  
  .navItem {
    margin: 0 10px;
    font-size: 1.2rem;
  
  }
  
  .navLink {
    color: #000000;
    text-decoration: none;
  }
  
  .activeNavLink {
    font-weight: bold;
    color: red;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .search {
      margin-bottom: 10px;
    }
  
    .navbarNav {
      flex-direction: column;
      align-items: center;
    }
  
    .navItem {
      margin: 10px 0;
    }
  }