
.container {
    display: flex;
    height: 12.5rem;
width: 60rem;
left: 18rem;
top: 17rem;
border-radius: [object Object]px;
/* position: relative; */


}



.mango{
    height: 43.5rem;
width: 40.375rem;
left: 18.8rem;
top: 17rem;
border-radius: 0.9rem;




}

.text{
    width: 39 rem;
height: 6rem;
left: 61rem;
top: 20rem;

/* NestMart/Heading 2 */

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 2.5rem;
line-height: 3rem;
/* or 120% */

letter-spacing: -0.0004em;

/* NestMart-TextHeading */

color: #253D4E;
}

.dollor{
    height: 4.8rem;
width: 7.6rem;
left: 61rem;
top: 30rem;
border-radius: nullpx;

}

.content{
    /* position: absolute; */
    width: 39rem;
    height: 13rem;
    left: 62rem;
    top: 37rem;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;

}

.btn{
    /* position: absolute; */
    left: 62.5%;
    right: 20.83%;
    top: 83.33%;
    bottom: 0%;
    width: 12rem;
    background-color: #3BB77E;   
}
 
.description{
    
    box-sizing: border-box;

    position: absolute;
    width: 73rem;
    height: 68rem;
    left: 23rem;
    top: 57rem;
    /* margin-left: 5rem; */
    

}

.head{
    width: 6rem;
height: 2.5rem;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 0.99rem;
/* identical to box height, or 83% */

letter-spacing: -0.0004em;
margin-right: 4rem;

/* NestMart-Brand 1 */

color: #3BB77E;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

  
.Add{
    width: 7.9rem;
height: 0.9rem;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 1.125rem;
line-height: 0.9rem;
/* identical to box height, or 83% */

letter-spacing: -0.0004em;

/* NestMart-Text-Muted */

color: #B6B6B6;

}

.review{
    width: 6rem;
height: 0.9rem;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 1.25rem;
line-height: 0.9rem;
/* identical to box height, or 83% */

letter-spacing: -0.0004em;

/* NestMart-Text-Muted */

color: #B6B6B6;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.para{
    /* position: absolute; */
width: 67rem;
height: 9.88rem;
left: 26rem;
top: 82rem;

/* NestMart/Text Medium */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.5rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;

}
.header{
   

display: flex;
/* flex-direction: row; */
align-items: flex-start;
padding: 0rem;
gap: 1.5rem;

/* position: absolute; */
width: 34rem;
height: 2.8rem;
left: 26rem;
top: 76rem;
justify-content: space-between;

}
.head1{

font-style: normal;

/* identical to box height, or 160% */


color: #253D4E;

}

.para1{
    width: 67rem;
height: 5rem;
left: 26rem;
top: 96rem; 

/* NestMart/Text Medium */

 font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.5rem;
}

.table{
    /* position: absolute; */
width: 8.3rem;
height: 8.6rem;
left: 26rem;
top: 102rem;
}
.group{
    width: 0.2rem;
height: 7.4rem;
left: 26rem;
top: 102rem;
}
.li1{
    width: 7.4rem;
height: 1.4rem;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.125rem;
color: #7E7E7E;
flex: none;
order: 0;
flex-grow: 0;
}

.li2{
    width: 7.4rem;
height: 1.4rem;

/* NestMart/ Text xs */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.125rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.li3{
    width: 7.4rem;
height: 1.4rem;

/* NestMart/ Text xs */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.125rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;
}

.li4{
    width: 7.4rem;
height: 1.4rem;

/* NestMart/ Text xs */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.125rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;

}

.li5{
    width: 7.4rem;
height: 1.43rem;

/* NestMart/ Text xs */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.125rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;

}

.frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.3rem;
    
    position: absolute;
    width: 7.4rem;
    height: 8.6rem;
    left: 35.5rem;
    top: 102rem;

}

.fr1{
    /* flex-direction: column;  */
 align-items: flex-start;
    padding: 0rem;
    gap: 0.3rem;
    
    /* position: absolute; */
    width: 7.4rem;
    height: 8.6rem;
    left: 35.5rem;
    top: 70rem;
    flex: none;
    order: 0;


}

.fr2{
    width: 7.4rem;
height: 1.4rem;

/* NestMart/ Text xs */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.125rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}

.fr3{
    width: 7.4rem;
height: 1.4rem;

/* NestMart/ Text xs */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.125rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.f4{
    width: 7.4rem;
height: 1.4rem;

/* NestMart/ Text xs */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.125rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;


/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}

.f5{
    width: 7.4rem;
height: 1.4rem;

/* NestMart/ Text xs */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.125rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;


/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;
}

.head1{
    /* position: absolute; */
    width: 8.9rem;
    height: 2rem;
    left: 26rem;
    top: 117rem;
    
    /* NestMart/Heading 5 */
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
    /* identical to box height, or 160% */
    
    letter-spacing: -0.0004em;
    
    /* NestMart-TextHeading */
    
    color: #253D4E;

}

.para3{
    /* position: absolute; */
width: 67rem;
height: 3.5rem;
left: 26rem;
top: 120rem;

/* NestMart/Text Medium */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.5rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;
}

head2{
    width: 10.6rem;
height: 2rem;
left: 26rem;
top: 125rem;

/* NestMart/Heading 5 */

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 1.25rem;
line-height: 2rem;
/* identical to box height, or 160% */

letter-spacing: -0.0004em;

/* NestMart-TextHeading */

color: #253D4E;


}

.para4{
    /* position: absolute; */
width: 67rem;
height: 4.9rem;
left: 26rem;
top: 128rem;

/* NestMart/Text Medium */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.5rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;

}

.head3{
    width: 5.6rem;
height: 2rem;
left: 26rem;
top: 134rem;

/* NestMart/Heading 5 */

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 1.25rem;
line-height: 2rem;
/* identical to box height, or 160% */

letter-spacing: -0.0004em;

/* NestMart-TextHeading */

color: #253D4E;

}

.para5{
    width: 26rem;
height: 2.1rem;
left: 26rem;
top: 136rem;

/* NestMart/Text Medium */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.5rem;
/* or 150% */


/* NestMart-TextBody */

color: #7E7E7E;

}

.para2{
    Font: Lato;
Weight: 25rem;
Size: 1rem;
Line-height: 1.5rem;
}

.description1{
    /* position: absolute; */
width: 4.6rem;
height: 1rem;
left: 57rem;
top: 18rem;

/* NestMart/ Text xs */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.12rem;
/* or 150% */


/* NestMart-TextBody */

color: black;

}

.head4{
    width: 16rem;
margin-left: 30rem;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 2.5rem;
/* identical to box height, or 125% */

letter-spacing: -0.0004em;

/* NestMart-TextHeading */

color: #253D4E;
margin-top: 116rem;

}

.f1{
    width: 5.6rem;
height: 1rem;


font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 1.12rem;

color: #7E7E7E;
margin-top: 15rem;
margin-left: 2rem;
}

FP1{
    
    /* position: absolute; */
width: 3.25rem;
height: 0.81rem;
left: 1rem;
top: 15rem;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 0.8rem;
/* line-height: 0.6rem; */
/* or 143% */

/* letter-spacing: 0.2rem; */
/* justify-content: space-around;
display: flex;
align-items: center; */

/* NestMart-TextHeading */

color: #253D4E;

}

.paratxt{
    position: absolute;
    width: 244.04px;
    height: 45.82px;
    left: 17.77px;
    top: 240.3px;
    
    
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    
    letter-spacing: -0.0004em;
    
    
    
    color: #253D4E;
    margin-top: 136rem;
    margin-left: 18rem;
    
}

.rating{
    margin-top: 5rem;
    margin-left: 3rem;
}

.f2{
    width: 5.6rem;
    height: 1rem;
    
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.12rem;
    
    color: #7E7E7E;

    margin-left: 40rem;

}