

.item1{
    width: 360px;
    padding: 5px;
    border-radius: 4px;
    margin: 20px;
    float: left;
    border: 1px #1a6600 solid;
    
}

.categories{
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

.product-Img{
    height:200px;
}

.title{
   
width: 173.53px;
height: 49px;
left: 143px;
top: 0px;


font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

letter-spacing: -0.0004em;

/* NestMart-TextHeading */

color: #253D4E;
}

.price{
    font-size: 24px;
    font-weight: 400;
    color: gray;
}
.btn{
    /* position: absolute; */
width: 175.56px;
height: 50px;
left: 127.47px;
top: 0px;

/* NestMart-Brand 1 */

background: #3BB77E;
border-radius: 4px;
}

.heading{
    width: 623.59px;
height: 102.68px;
left: 1416.66px;
top: 2329.56px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 48px;
/* letter-spacing: -0.0004em; */
color: #253D4E;
justify-content: center;
align-items: center;
margin-left: 5rem;
}